<ion-header>
    <ion-toolbar color = "dark">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/tab3"></ion-back-button>
        <ion-title><b expand="full">알림</b></ion-title>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      &nbsp;&nbsp;동국마켓에 오신것을 환영합니다!
    </ion-item>
    <ion-item>
      &nbsp;&nbsp;회원가입을 진심으로 축하합니다!
    </ion-item>
    <ion-item>
      &nbsp;&nbsp;재학생 인증을 주기적으로 꼭 해주세요!
    </ion-item>
  </ion-list>
</ion-content>
