<ion-app>
  <ion-img src='assets/dg_img.png' style='height:100px'></ion-img>
  
  <ion-content class="sign_menu">
    <h3>회원 가입</h3>
    <br><br>
    <ion-item>
      <ion-label class="input">ID : </ion-label>
      <ion-input type="text" [(ngModel)]="id" ></ion-input>
      @dgu.ac.kr&nbsp;&nbsp;
    </ion-item>

    <br>
    <ion-item>
      <ion-label class="input">비밀번호 :</ion-label>
      <ion-input  type="password" [(ngModel)]="password" class="input" placeholder=" 6자 이상을 입력하세요" ></ion-input>
    </ion-item>
    
    <br>
    <ion-item>
      <ion-label class="input">이름 :</ion-label>
      <ion-input type="text" [(ngModel)]="name" class="input"></ion-input>
    </ion-item>

    <br>
    <ion-item>
      <ion-label class="input">학과 :</ion-label>
      <ion-input type="text" [(ngModel)]="major" class="input" placeholder=" ex) 컴퓨터공학과"></ion-input>
    </ion-item>


    <ion-grid>
      <ion-row>
        <ion-col size="6"></ion-col>
        <ion-col>
          <ion-button color="light" [routerLink]="['']">이전</ion-button>
          </ion-col>
        <ion-col>
        <ion-button  color="light" (click)="register()">다음</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  
</ion-app>
