<ion-app>
  <ion-img src='assets/dg_img.png' style='height:100px'></ion-img>
  
  <ion-content class="sign_menu">

    <h3>회원 가입</h3>
    <br>
    <ion-item>
      <ion-label class="input">이메일 : </ion-label>&nbsp;
      <ion-input type="text" [(ngModel)]="id" placeholder="아이디" ></ion-input>
      @
      <ion-select class="input" placeholder="주소 클릭!" [(ngModel)]="domain">
        <ion-select-option value="gmail.com">gmail.com</ion-select-option>
        <ion-select-option value="naver.com">naver.com</ion-select-option>
        <ion-select-option value="daum.net">daum.net</ion-select-option>
        <ion-select-option value="dgu.ac.kr">dgu.ac.kr</ion-select-option>
        <ion-select-option value="dongguk.edu">dongguk.edu</ion-select-option>
        <ion-select-option value="hotmail.com">hotmail.com</ion-select-option>
      </ion-select>
      <ion-button color="light"  (click)="id_checkfunc()" >체크</ion-button>
    </ion-item>

    <br>
    <ion-item>
      <ion-label class="input">비밀번호 :</ion-label>
      <ion-input  type="password" [(ngModel)]="password" class="input" placeholder=" 6자 이상을 입력하세요" ></ion-input>
    </ion-item>
    
    <br>
    <ion-item>
      <ion-label class="input">이름 :</ion-label>
      <ion-input type="text" [(ngModel)]="name" class="input"></ion-input>
    </ion-item>
    
    <br>
    <ion-item>
      <ion-label class="input">닉네임 :</ion-label>
      <ion-input type="text" [(ngModel)]="nickname" class="input"></ion-input>
      <ion-button color="light"  (click)="nickname_checkfunc()" >체크</ion-button>
    </ion-item>

    <br>
    <ion-item>
      <ion-label class="input">학번 :</ion-label>
      <ion-input type="text" [(ngModel)]="student_number" class="input"></ion-input>
    </ion-item>
    
    <br>
    <ion-item>
      <ion-label class="input">학교:</ion-label>
          <ion-select class="input" placeholder="클릭하세요  " [(ngModel)]="school">
            <ion-select-option value="동국대학교">동국대학교 </ion-select-option>
            <ion-select-option value="건국대학교">건국대학교 </ion-select-option>
            <ion-select-option value="홍익대학교">홍익대학교 </ion-select-option>
          </ion-select>

          &nbsp;&nbsp;

      <ion-label class="input">  학과:</ion-label>
      <ion-input class="ion-text-end" type="text" [(ngModel)]="major" class="input" placeholder=" "></ion-input>
    </ion-item>

    <br>
    <div id="recaptcha-container"></div>
    <br>
    <p class = "short">&nbsp;&nbsp;인증버튼을 누른 뒤, reCAPTCHA 인증을 받아야 인증번호가 발송됩니다.</p>
    <ion-item>
      <ion-label class="input">  전화번호 :</ion-label>
      <ion-input  type="tel" [(ngModel)]="phone" placeholder="-없이 입력해주세요"></ion-input>
      <ion-button color="light"  (click)="sendPhone()">인증</ion-button>
    </ion-item>
    
    <ion-grid>
      <ion-row>
        <ion-col size="6"></ion-col>
        <ion-col>
          <ion-button color="light" [routerLink]="['']">이전</ion-button>
          </ion-col>
        <ion-col>
        <ion-button  color="light" (click)="register()">다음</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  
</ion-app>
