.button {
    display: table;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 15px;
    margin-right: 0px;
.dup {
    letter-spacing: 2px;
    width: 150px;
    height: 50px;
    display: block;
    border-radius: 20px;
    }
}
.sign_menu{
    --padding-bottom: 0px;
    --padding-end: 15px;
    --padding-start: 15px;
    --padding-top: 50px;
}

.input{
    font-size: 15px;
    font-weight: 500;
    margin-left:0px;
}
.input2{
    font-size: 13px;
    font-weight: 500;
    margin-left:0px;
}
ion-item {
    --border-color: #dad6d6;
    --border-style: dotted;
    --border-width: 3px;
    --border-radius:10px;
  }