.log_title{
    --padding-bottom: 0px;
    --padding-end: 40px;
    --padding-start: 40px;
    --padding-top: 40px;
}
ion-button{
    --border-radius:10px; 
    font-weight: 600;
    font-size: 15px;

}