<ion-header>
  <ion-toolbar color = "dark">
    <ion-buttons slot="primary">
    
      <ion-button [routerLink]="['/my-like']" fill="clear" > <!-- 찜한 품목 목록들 보러가는 버튼 -->
        <ion-icon class="top-icon" name="bag-outline"> </ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/alert']" fill="clear" > <!-- 여러가지 알림을 볼 수 있는 버튼 -->
        <ion-icon class="top-icon" name="notifications-outline"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title><b expand="full"> 홈 </b> {{major}} {{name}}</ion-title>
  </ion-toolbar>

  <ion-slides pager="true">
    <ion-slide>
      <ion-img src='../../assets/ad1.jpg'></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src='../../assets/ad1-2.jpg'></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src='../../assets/ad1-3.jpg'></ion-img>
    </ion-slide>
  </ion-slides>

  <ion-toolbar color="warning">
    <ion-title >최신글 목록</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col *ngFor="let item of items.slice().reverse()" col-12 no-padding>
    <ion-list>
      <ion-item (click)="getPost(item)">
        <ion-img src='{{item.img}}' style='width:50%;height:50%'></ion-img>
        <ion-label>
          <h2>{{item.titleInput}}</h2>
          <p>{{item.userid}} {{item.type}}</p>
          <p>{{item.price}} 원</p>
        </ion-label>
        <ion-note slot="end">
          {{item.time.split('.')[0]}}/{{item.time.split('.')[1]}}/{{item.time.split('.')[2]}}
          {{item.time.split('.')[3]}}:{{item.time.split('.')[4]}}
          <br><br><br><br>
          <ion-icon name="heart" color="danger"></ion-icon>
          {{item.like}}
        </ion-note>
      </ion-item>
    </ion-list>
  </ion-col>

</ion-content>
