<ion-header>
  <ion-navbar>
    <br>
    <ion-title>
      홈
      <ion-button [routerLink]="['/my-like']" style="float: right;" fill="clear" color="dark" shape="round" size="small"> <!-- 찜한 품목 목록들 보러가는 버튼 -->
        <ion-icon class="top-icon" slot="icon-only" name="bag-outline"> </ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/alert']" style="float: right;" fill="clear" color="dark" shape="round" size="small"> <!-- 여러가지 알림을 볼 수 있는 버튼 -->
        <ion-icon class="top-icon" slot="icon-only" name="notifications-outline"> </ion-icon>
      </ion-button>
      <h6>{{major}} {{name}}</h6>             <!-- 해당 유저의 정보가 출력 -->
    </ion-title>

    <br>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-slides pager="true">
    <ion-slide>
      <ion-img src='../../assets/ad1.jpg'></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src='../../assets/ad1-2.jpg'></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src='../../assets/ad1-3.jpg'></ion-img>
    </ion-slide>
  </ion-slides>

  <ion-toolbar color="primary">
    <ion-title>최신글 목록</ion-title>
  </ion-toolbar>

  <ion-col *ngFor="let item of items.slice().reverse()" col-12 no-padding>
    <ion-list>
      <ion-item (click)="getPost(item)">
        <ion-img src='{{item.img}}' style='width:50%;height:50%'></ion-img>
        <ion-label>
          <h2>{{item.titleInput}}</h2>
          <p>{{item.userid}} {{item.type}}</p>
          <p>{{item.price}} 원</p>
        </ion-label>
        <ion-note slot="end">
          {{item.time.substring(2,9)}}<br><br><br><br>
          <ion-icon name="heart" color="danger"></ion-icon>
          {{item.like}}

        </ion-note>
      </ion-item>
    </ion-list>
  </ion-col>

</ion-content>
