<ion-header>
  <ion-navbar>
    <br>
    <ion-title>
      HOME
      <ion-button [routerLink]="['/bag']" style="float: right;" fill="clear" color="dark" shape="round" size="small"> <!-- 찜한 품목 목록들 보러가는 버튼 -->
        <ion-icon class="top-icon" slot="icon-only" name="bag-outline"> </ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/alert']" style="float: right;" fill="clear" color="dark" shape="round" size="small"> <!-- 여러가지 알림을 볼 수 있는 버튼 -->
        <ion-icon class="top-icon" slot="icon-only" name="notifications-outline"> </ion-icon>
      </ion-button>
      <h6>컴퓨터공학과 XXX</h6>             <!-- 해당 유저의 정보가 출력 -->
    </ion-title>

    <br>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-slides pager="true">
    <ion-slide>
      <h1>광고1</h1>
    </ion-slide>
    <ion-slide>
      <h1>광고2</h1>
    </ion-slide>
    <ion-slide>
      <h1>광고3</h1>
    </ion-slide>
  </ion-slides>

  <ion-toolbar color="primary">
    <ion-title>최신글 목록</ion-title>
  </ion-toolbar>

  <ion-list>

    <ion-item href="#">
      <ion-img src='assets/main_img.png' style='width:50%;height:50%'></ion-img>
      <ion-label>
        <h2>전공책 판매함</h2>
        <p>컴퓨터공학과 xxx</p>
        <p>10000원</p>
      </ion-label>
      <ion-note slot="end">
        36분 전<br><br><br><br>
        <ion-icon name="heart" color="danger"></ion-icon>
        50
        <ion-icon name="chatbubble-outline"></ion-icon>
        12
      </ion-note>
    </ion-item>

    <ion-item href="#">
      <ion-img src='assets/main_img.png' style='width:50%;height:50%'></ion-img>
      <ion-label>
        <h2>자전거 팝니다.</h2>
        <p>화학공학과 yyy</p>
        <p>150000원</p>
      </ion-label>
      <ion-note slot="end">
        1시간 전<br><br><br><br>
        <ion-icon name="heart" color="danger"></ion-icon>
        4
        <ion-icon name="chatbubble-outline"></ion-icon>
        2
      </ion-note>
    </ion-item>

    <ion-item href="#">
      <ion-img src='assets/main_img.png' style='width:50%;height:50%'></ion-img>
      <ion-label>
        <h2>가습기 팔아요</h2>
        <p>통계학과 zzz</p>
        <p>25000원</p>
      </ion-label>
      <ion-note slot="end">
        3시간 전<br><br><br><br>
        <ion-icon name="heart" color="danger"></ion-icon>
        18
        <ion-icon name="chatbubble-outline"></ion-icon>
        6
      </ion-note>
    </ion-item>


  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
