.main {
    --padding-bottom: 20px;
    --padding-end: 30px;
    --padding-start: 30px;
    --padding-top: 40px;
    
  }

ion-button{
    --border-radius:10px; 
    font-weight: 600;
    font-size: 20px;
}