<ion-header>
  <ion-toolbar color = "dark">
      <ion-buttons slot="start" >
          <ion-back-button text="" defaultHref="/tabs/tab2"></ion-back-button>
        </ion-buttons>
    <ion-title>글쓰기</ion-title>
    <ion-buttons slot="primary">
        <ion-button (click)="register()" >
          완료
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>               
      <ion-item>
         <ion-input type = "text" [(ngModel)]="titleInput" placeholder="글 제목"></ion-input>
      </ion-item>  
      <ion-item>
        <ion-label position ="floating">이미지</ion-label>
        <br><br>
      <ion-grid>
        <ion-row>
          <div id="camera">
            <img id="imgboard"src="">
          </div>
        </ion-row>
        <ion-row>
          <button style="width:100%; height:30px;" ion-button (click)="pickPicture()"><b>img upload</b></button>
        </ion-row>
      </ion-grid>
    </ion-item>
      <ion-item>  
        <ion-label>카테고리 선택</ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="category" >
          <ion-select-option value="디지털&가전">디지털&가전</ion-select-option>
          <ion-select-option value="가구&인테리어">가구&인테리어</ion-select-option>
          <ion-select-option value="남성패션&잡화">남성패션&잡화</ion-select-option>
          <ion-select-option value="여성의류">여성의류</ion-select-option>
          <ion-select-option value="여성잡화">여성잡화</ion-select-option>
          <ion-select-option value="스포츠&레저">스포츠&레저</ion-select-option>
          <ion-select-option value="게임&취미">게임&취미</ion-select-option>
          <ion-select-option value="도서&티켓&음반">도서&티켓&음반</ion-select-option>
          <ion-select-option value="기타중고물품">기타중고물품</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>  
        <ion-label >유형 선택</ion-label>
          <ion-select placeholder="Select One" [(ngModel)]="type">
            <ion-select-option value="판매">판매</ion-select-option>
            <ion-select-option value="대여">대여</ion-select-option>
            <ion-select-option value="공동구매">공동구매</ion-select-option>
            <ion-select-option value="살게요">살게요</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item>
        <ion-input type = "text" [(ngModel)]="price" placeholder="￦가격입력 "></ion-input>
     </ion-item>  
      <ion-item>
        <ion-textarea rows="8" [(ngModel)]="textInput" placeholder="게시글 내용을 작성해주세요."></ion-textarea>
      </ion-item>      
    </ion-card-content>
  </ion-card> 
</ion-content>
