<ion-header>
  <ion-toolbar color = "white">

      <ion-buttons slot="primary">
        <ion-button (click)="goCategory()" >
          <ion-icon name="menu-outline"size='large'></ion-icon>
        </ion-button>
        <ion-button (click)="goCreatePost()" >
          <ion-icon name="pencil-outline" size="medium"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title><b expand="full">대여 및 공동구매</b></ion-title>
      <div *ngIf="userid===null">
        <center><small><ion-select class="input" placeholder="학교선택  " [(ngModel)]="school" (ionChange)="schoolChanged($event)">
          <ion-select-option value="동국대학교">동국대학교 </ion-select-option>
          <ion-select-option value="건국대학교">건국대학교 </ion-select-option>
          <ion-select-option value="홍익대학교">홍익대학교 </ion-select-option>
        </ion-select></small></center>
        </div>
    </ion-toolbar>
  <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged($event)" >
      <ion-segment-button value="대여">
      <ion-label>대여</ion-label>
      </ion-segment-button>
      <ion-segment-button value="공동구매">
          <ion-label>공동구매</ion-label>
          </ion-segment-button>
    </ion-segment>
    <ion-row justify-content-center align-items-start >
      <ion-searchbar [(ngModel)]="searchinput" placeholder="물건을 검색해보세요"></ion-searchbar>
    </ion-row>
</ion-header>
<ion-content >
  <ion-col *ngFor="let item of items;" col-12 no-padding>
    <div *ngIf="item.titleInput.includes(searchinput)==true">
      <ion-item (click)="getPost(item)" class="card" >
          <ion-img src="{{item.img}}" style='width:50%;height:50%'></ion-img>
          <ion-label>
            <h2>TITLe: {{item.titleInput}} </h2>
            <p>{{item.boardnick}}</p>
            <p>PRICE:{{item.price}}</p>
          </ion-label>
          <ion-note slot="end">
            <ion-icon name="heart" color="danger"></ion-icon>
            {{item.like}}
          </ion-note>
    </ion-item>
    </div>
  </ion-col>
</ion-content>
