<ion-header>
  <ion-toolbar color ="warning">
      <ion-buttons slot="start">
          <ion-back-button text="" defaultHref="/tabs/tab2"></ion-back-button>
        </ion-buttons>
    <ion-title>category</ion-title>
  </ion-toolbar>
</ion-header>
<center>
<table>
  <tr>
    <td><ion-img src='assets/cate1.png' style='width:120px; height:120px; '></ion-img></td>
    <td><ion-img src='assets/cate2.png' style='width:120px; height:120px; '></ion-img></td>
  <tr>
</table>
<table>
  <tr>
    <td><ion-img src='assets/cate3.png' style='width:120px; height:120px; '></ion-img></td>
    <td><ion-img src='assets/cate4.png' style='width:120px; height:120px; '></ion-img></td>
  <tr>
</table>
<table>
  <tr>
    <td><ion-img src='assets/cate5.png' style='width:120px; height:120px; '></ion-img></td>
    <td><ion-img src='assets/cate6.png' style='width:120px; height:120px; '></ion-img></td>
  <tr>
</table>
<table>
  <tr>
    <td><ion-img src='assets/cate7.png' style='width:120px; height:120px; '></ion-img></td>
    <td><ion-img src='assets/cate8.png' style='width:120px; height:120px; '></ion-img></td>
  <tr>
</table>
<table>
  <tr>
    <td><ion-img src='assets/cate9.png' style='width:120px; height:120px; '></ion-img></td>
    <td><ion-img src='assets/cate10.png' style='width:120px; height:120px; '></ion-img></td>
  <tr>
</table>

</center>
