.log_title{
    --padding-bottom: 0px;
    --padding-end: 40px;
    --padding-start: 40px;
    --padding-top: 20px;
}

.log_title2{
    --padding-bottom: -10px;
    --padding-end: 40px;
    --padding-start: 40px;
    --padding-top: 0px;
}

.hr {
    border: 1px dotted rgb(160, 157, 157);
    margin: 10px 0;
    width: 100%;
}

.hr2 {
    border: 2px dotted rgb(160, 157, 157);
    margin: 10px 0;
    width: 100%;
}

ion-button{
    --border-radius:10px; 
    font-weight: 600;
    font-size: 15px;
}