<ion-app>
  <ion-img src='assets/dg_img.png' style='height:100px'></ion-img>
  <ion-content class="sign_menu">
    <h3>&nbsp;재학생 인증</h3>
    <br>
    <div class="info">동국대학교 재학생 인증을 위해 학적부 이미지를 첨부해주세요</div>
    
    <br><br><br><br>
      
      <ion-button item-right color="light" expand="block" (click)="image()">사진 열기</ion-button>
      <p> </p>
      <ion-button item-right color="light" expand="block" (click)="recognize()">사진 인식</ion-button>

      <br><br><br>
      <center>
      <ion-button  color="light" [routerLink]="['']">회원가입 완료</ion-button>
      </center>
  </ion-content>
</ion-app>