<ion-app>
  <ion-img src='assets/dg_img.png' style='height:100px'></ion-img>
  <ion-content class="sign_menu">
    <h3>&nbsp;재학생 인증</h3>
    <br>
    <div class="info">동국대학교 재학생 인증을 위해 학적부 이미지를 첨부해주세요</div>

    <br><br>
    
    <br><br>
    <ion-grid>
      <ion-row>
        
        <ion-col size="6"></ion-col>
        <ion-col>
          <ion-button color="light" [routerLink]="['']">이전</ion-button>
          </ion-col>
        <ion-col>
        <ion-button  color="light" [routerLink]="['']">다음</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  
</ion-app>