
.sign_menu{
    --padding-bottom: 0px;
    --padding-end: 15px;
    --padding-start: 15px;
    --padding-top: 50px;
}
.info{
    text-align:center;
    font-size:13px;
    padding-right:5%;
    padding-left:5%;
}