<ion-header>
  <ion-toolbar color = "white">
    <ion-buttons slot="primary">
      <ion-button (click)="goCreatePost()" >
        <ion-icon name="pencil-outline" size="medium"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title><b expand="full">검색</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style = "height: 200%">
    <ion-row justify-content-center align-items-start >
      <ion-searchbar (click)="searchView()" placeholder="물건을 검색해보세요"></ion-searchbar>
    </ion-row>
    <ion-col *ngFor="let item of items;" col-12 no-padding>
      <ion-item (click)="getPost(item)" class="card" >
        <ion-img src="{{item.img}}" style='width:50%;height:50%'></ion-img>
        <ion-label>
          <h2>TITLe: {{item.titleInput}} </h2>
          <p>{{item.boardnick}}</p>
          <p>PRICE:{{item.price}}</p>
        </ion-label>
        <ion-note slot="end">
          <ion-icon name="heart" color="danger"></ion-icon>
          {{item.like}}
        </ion-note>
  </ion-item>
  </ion-col>
   
  </ion-grid>
</ion-content>