<ion-header>
  <ion-toolbar color = "white">
    <ion-buttons slot="primary">
      <ion-button (click)="goCreatePost()" >
        <ion-icon name="pencil-outline" size="medium"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title><b expand="full">검색</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style = "height: 200%">
    <ion-row justify-content-center align-items-start >
      <ion-searchbar (click)="searchView()" placeholder="물건을 검색해보세요"></ion-searchbar>
    </ion-row>
    <ion-col *ngFor="let item of items;" col-12 no-padding>
      <ion-card (click)="getPost(item)" class="card" >
        <ion-button  size="small" fill="outline"(click)="CreateChat(item.userid)">
          <ion-icon name="contact"></ion-icon>{{item.userid}}</ion-button>
          <img src="{{item.img}}" width="100px" height="150px"/>
          <ion-card-content >
                   <ion-row>
                    <ion-col width-100><h1>{{item.titleInput}}  </h1> </ion-col> 
                  </ion-row>
                    <ion-row>
                      <ion-col width-30><h4>{{item.textInput}}&nbsp;{{item.price}} </h4></ion-col>
                    </ion-row>
          </ion-card-content>
    </ion-card>
  </ion-col>
   
  </ion-grid>
</ion-content>