<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab5"></ion-back-button>
    </ion-buttons>
    <ion-title style="height: 50px;">
      <b>마이 프로필</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Page</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <div>
      <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-avatar>
              <img id="upic" src="{{userpic}}"/>
            </ion-avatar>
            <ion-label><b>{{nickname}}</b></ion-label> <!-- 유저명 -->   
            <ion-badge style="float: right;" fill="clear" color="light" shape="round" size="small">{{major}}</ion-badge>  <!--단과대학 --> 
            <ion-badge style="float: right;" fill="clear" color="success"  shape="round" size="small">{{check}}</ion-badge><br><br>  <!--재학생인증 유무 --> 
          </ion-item>
          <ion-item>
            {{email}}  <!-- 유저 이메일 -->
          </ion-item>
          <ion-item>
            <div id="text">
              <ion-button [routerLink]="['/profile-modify']" color="medium" expand="full">프로필 수정</ion-button>
            </div> 
          </ion-item>
          <ion-item>
            <div id="text">
              <ion-button (click)="movetorecheck()" color="medium" expand="full">재학생 인증</ion-button>
            </div> 
          </ion-item>
        </ion-card-content>
      </ion-card>
    <br>
      <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-label><b>이름</b></ion-label>
                {{name}} <!-- 유저 이름 -->
          </ion-item>
          <ion-item>
            <ion-label><b>소속 대학</b></ion-label>
                {{school}} <!-- 유저 대학-->
          </ion-item>
          <ion-item>
            <ion-label><b>학과</b></ion-label>
                {{major}} <!-- 유저 학과 -->
          </ion-item>
          <ion-item>
            <ion-label><b>이메일</b></ion-label>
                {{email}} <!-- 유저 이메일 -->
          </ion-item>
          <ion-item>
            <ion-label><b>전화번호</b></ion-label>
                {{phone}} <!-- 유저 전화번호 -->
          </ion-item>
          <ion-item>
            <ion-label><b>신뢰도</b></ion-label>
                {{credit_str}}
          </ion-item>
        </ion-card-content>
      </ion-card>
  </div>
  </div>
</ion-content>
